<!-- HTML template using Thymeleaf syntax -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <style>
        /* CSS styling for table */
    </style>

    <script>


    </script>

</head>
<body>
<h1>Student List</h1>
<div id="messageDiv"></div>
<form id="myForm" action="/submit-form-sv" method="post">

    <table  id="listviewSV" border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Mã sinh viên</th>
            <th>Tên sinh viên</th>
            <th colspan="2">Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.getInputID}"></td>
            <td th:text="${student.getInputMaSV}"></td>
            <td th:text="${student.getInputTenSV}"></td>
            <td><button onclick="editRowSV(this);" type="button">Sửa</button></td>
            <td><button onclick="deleteRowSV(this);" type="button">Xóa</button></td>
        </tr>
        </tbody>
        <!-- Dòng thêm mới -->
        <tfoot>
        <tr id="emptyRowSV">
            <td><input type="text" id="inputID" name="inputID"></td>
            <td><input type="text" id="inputMaSV" name="inputMaSV"></td>
            <td><input type="text" id="inputTenSV" name="inputTenSV"></td>
            <td><button onclick="addNewRowSV()" type="submit">Thêm</button></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</form>

</body>
</html>