<!-- HTML template using Thymeleaf syntax -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <style>
        /* CSS styling for table */
    </style>

    <script>


    </script>

</head>
<body>
<h1>Student List</h1>
<div id="messageDiv"></div>
<form id="myForm" action="/submit-form" method="post">

    <table  id="listviewSV" border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Mã sinh viên</th>
            <th>Tên sinh viên</th>
            <th colspan="2">Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.getId()}"></td>
            <td th:text="${student.getMasv}"></td>
            <td th:text="${student.getTensv}"></td>
            <td><button>Sửa</button></td>
            <td><button>Xóa</button></td>
        </tr>
        </tbody>
        <!-- Dòng thêm mới -->
        <tfoot>
        <tr id="emptyRow">
            <td><input type="text" id="inputID"></td>
            <td><input type="text" id="inputMaGV"></td>
            <td><input type="text" id="inputTenGV"></td>
            <td><button onclick="addNewRow()" type="submit">Thêm</button></td>
            <p th:if="${error}" th:text="${error}" style="color: red"></p>
            <td></td>
        </tr>
        </tfoot>
    </table>
</form>

</body>
</html>